
*.user
*.2
*.v2
*.user
Cartera movil/Cartera movil.Android/Cartera movil.Android.csproj.user
Cartera movil/.vs/Cartera movil/v17/.suo
Cartera movil/.vs/Cartera movil/v17/.suo
Cartera movil/Cartera movil.Android/Cartera movil.Android.csproj.user
*.user
*.vsidx
*.vsidx
