
*.user
*.2
*.v2
*.user
Cartera movil/Cartera movil.Android/Cartera movil.Android.csproj.user
Cartera movil/.vs/Cartera movil/v17/.suo
Cartera movil/.vs/Cartera movil/v17/.suo
Cartera movil/Cartera movil.Android/Cartera movil.Android.csproj.user
*.user
*.vsidx
*.vsidx
Cartera movil/Cartera movil.Android/obj/Debug/130/designtime/Resource.designer.cs
Cartera movil/Cartera movil.iOS/obj/iPhone/Debug/Cartera movil.iOS.csproj.AssemblyReference.cache
Cartera movil/Cartera movil.Android/obj/Debug/130/designtime/build.props
Cartera movil/Cartera movil.Android/obj/Debug/130/Cartera movil.Android.csproj.AssemblyReference.cache
Cartera movil/.vs/Cartera movil/v17/.suo
*.dll
*.cache
*.dll
*.cache
*.dll
*.pdb
*.cache
*.pdb
Cartera movil/Cartera movil/obj/Debug/netstandard2.0/Cartera movil.dll
Cartera movil/Cartera movil/obj/Debug/netstandard2.0/Cartera movil.pdb
