<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/3c77e3ac-6eae-4ed3-bef2-c151756c716e/resourceGroups/CarteraMovil/providers/Microsoft.Web/sites/CarteraMovil2023</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://carteramovil2023.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>8a37251f-af66-40df-8de3-14af76de0247</ProjectGuid>
    <PublishUrl>https://carteramovil2023.scm.azurewebsites.net/</PublishUrl>
    <UserName>$CarteraMovil2023</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>