<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/3c77e3ac-6eae-4ed3-bef2-c151756c716e/resourceGroups/CarteraMovil/providers/Microsoft.ContainerRegistry/registries/Carteramovil20230607220552</ResourceId>
    <ResourceName>Carteramovil20230607220552</ResourceName>
    <ResourceGroup>CarteraMovil</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://carteramovil20230607220552.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <_TargetId>AzureConsoleContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>